<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Company </title>
    <style>
        .core {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            align-items: center;
            background-color: aqua;
            padding: 10px;
        }
        .logo-holder {
            padding: 10px;
            border: black 12px double;
            border-radius: 15px;
        }
    </style>
</head>
<body style="background-color: aquamarine;">
<div class="core">
    <div class="logo-holder">
        <img style="border-radius: 8px;" th:src="@{/images/Placeholder.png}" />
    </div>
    <h1>TrecApps Development is currently paused</h1>
</div>

</body>
</html>